
    <div class="contact-page">
      <p class="lead-contact"> <span>drop me a <span class="redish">note</span></span></p>

      <%= form_for @contact do |f| %>

        <div class="form-group floating-label-form-group controls">
          <%= f.label :name %>
          <%= f.text_field :name, required: true, class: "form-control", id: "name", placeholder: "Name" %>
        </div>

        <div class="form-group floating-label-form-group controls">
          <%= f.label :email %>
          <%= f.email_field :email, required: true, class: "form-control", id: "email", placeholder: "Email Address" %>
        </div>

        <div class="form-group floating-label-form-group controls" id="form-body" >
          <%= f.label :message %>
          <%= f.text_area :message, as: :text, class: "form-control", id: "message", placeholder:"Message" %>
        </div>

        <div class="hidden">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, hint: 'leave this field blank', class: "hidden" %>
        </div>

        <div class="form-group line">
          <%= f.submit "Send", class: "contact-send" %>
        </div>
      <% end %>

    </div>
