<!-- The posts goes on the main page -->
<div class="col-md-8 posts-font">
  <% @posts.each do |post| %>
    <p class="date"><span><%= post.created_at.strftime("%B %d, %Y") %></span></p>
    <!-- <span class="glyphicon glyphicon-time"></span> post.created_at.strftime("%B %d, %Y") -->
    <h2 id="post-title">
        <%= link_to post.title, post %>
    </h2>
    <p class="lead">
      <span>by <a href="/">Bruno G. Tavares</a></span>
    </p>
    <% if post.image? %>
      <%= image_tag(post.image_url(:cover), class: "img-responsive") %>
      <br>
    <% end %>
    <p id="front-blurb"><%= post.blurb %></p>
    <p class="line" ><%= link_to "More", post, class: "read-more" %></p>

    <br>
  <% end %>

  <div class="pager"><%= will_paginate @posts, :page_links => false %></div>
</div>
<%= render 'sidebar' %>
