<!-- Each Post -->

   <!-- Blog Post -->
<div class="col-md-8 posts-font" id="right-border">

  <p class="date"><span><%= @post.created_at.strftime("%B %d, %Y") %></span></p>
  <!-- <span class="glyphicon glyphicon-time"></span> post.created_at.strftime("%B %d, %Y") -->
  <h2 id="post-title">
    <%= @post.title %>
  </h2>
  <p class="lead">
    <span>by Bruno G. Tavares</span>
  </p>
   <!-- Author/tags -->
   <p class="lead-tag" align='center'>
     <% if @tags != "" %>
      <%= tag_links(@tags).html_safe %>
     <% end %>
   </p>

   <!-- Date/Time -->
   <p align="center">
     <% if user_signed_in? %>
       <%= link_to 'Edit', edit_post_path(@post) %>
     | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
     <% end %>
   </p>

  <br>

   <!-- Preview Image -->
   <% if @post.image? %>
    <%= image_tag(@post.image_url(:cover), class: "img-responsive") %>
    <br>
   <% end %>
   <!-- Post Content -->
   <p id="blurb"><%= @post.blurb %></p>
   <p><%= markdown(@post.body) %></p><br>

  <hr>

   <!-- Share Project -->
   <div class="container share-me">
     <div class="row">
       <p>Share this post</p>
       <!-- Twitter -->
       <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by Bruno G. Tavares - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
       <!-- Facebook -->
       <a onclick="javascript:window.open('http://facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
       <!-- Google Plus -->
       <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
       <!-- LinkedIn -->
       <a onclick="javascript:window.open('https://www.linkedin.com/shareArticle?mini=true&url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-linkedin"></i></a>
     </div>
   </div>

</div>
<%= render 'sidebar' %>
