<!-- Each Post -->


   <!-- Blog Post -->

   <!-- Title -->
   <h1><%= @post.title %></h1>

   <!-- Author/tags -->
   <p class="lead">
     <% if @post.all_tags != "" %>
        under <%=raw tag_links(@post.all_tags) %>
     <% end %>
   </p>

   <hr>

   <!-- Date/Time -->
   <p><span class="glyphicon glyphicon-time"></span> Submitted <%= time_ago_in_words(@post.created_at) %> ago
     | <%= link_to 'Edit', edit_post_path(@post) %>
     | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
   </p>
   <hr>

   <!-- Preview Image -->
   <% if @post.image? %>
    <%= image_tag(@post.image_url(:cover), class: "img-responsive") %>
    <hr>
   <% end %>
   <!-- Post Content -->
   <p class="lead"><%= @post.blurb %></p>
   <p><%= markdown @post.body %></p>

   <hr>
